.header{
    position: sticky;
    margin: 0 10px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_info{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
}