
.questions_form{ 
    background-color:#F4F4F9;
    height:100%;
    padding-bottom:30px;
    
}

.section{
    margin: auto;
    width:50%;

}


.questions_form_top{
    background-color: white;
    border-top:8px solid rgb(140, 124, 182);
    border-radius: 8px;
    padding:30px 25px;
    text-transform: capitalize; 
}

.questions_form_top_name{
    box-sizing: border-box;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border:none;
    outline:none;
    border-bottom:1px solid #F4F4F9;
    color:black;
    height:35px; 
}

.questions_form_top_desc{
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border:none;
    outline:none;
    border-bottom:1px solid #F4F4F9;
    color:black;
    height:20px;
}

.question_boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.add_question{
    background-color: white;
    border-radius: 8px;
    padding:25px 22px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-top:0px;
    width:93%;
    margin-left:10px;
}

.add_question_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.question{
    box-sizing: border-box;
    margin-top: 10px;
   font-family: 'Google Sans',Roboto,Arial,sans-serif;
   font-size: 15px;
   font-weight: 400;
   flex:1;
   line-height: 40px;
   width: 40%;
   border:none;
   outline:none;
   color:black;
   height:40px;
   margin-right: 10px;
   line-height: 10px;
   padding:10px;
}

.question:focus{
    border-bottom:1px solid rgb(103, 58, 183);
    background-color:#F4F4F9;
}



.select{
    height:40px;
    width:230px;
    border:0.5px solid ;
    padding:5px 15px;
    color:black;
    margin-left:10px;
    margin-right:10px;
    border:1.5px solid #F4F4F9;
    border-radius:3px;
background:transparent;
}

.menuitem{
    color: rgba(118, 118, 118, 0.3);
  }

  .add_question_body{
    display:flex;
    align-items: center;
}

.text_input{
    outline:none;
    border:none;
    height:40px;
    width:480px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .2px; 
    color: #202124;
}

.text_input:focus{
    border-bottom:1.5px solid rgb(103, 58, 183);
}

.add_border{
    border-left:4px solid lightgray;
}

.add_footer{
    display:flex;justify-content: space-between;
}
.add_question_bottom{
    margin-top:12px;
    border-top:1px solid rgba(118, 118, 118, 0.3);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.add_question_bottom_left{
    margin-top:12px;
    border-top:1px solid rgba(118, 118, 118, 0.3);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.edit, .copy, .bstrash{
    color:rgb(140, 124, 182);
}

